@use 'prismjs/themes/prism-twilight.css';

.your-theme-name-code-block {
    height: 150px;

    &__editor, &__code {
        padding: 10px !important;
        border: 0 !important;
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;
        white-space: pre;
        box-sizing: border-box;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    }

    &__editor, &__code, &__code-content {
        margin: 0 !important;
        font-size: 13px !important;
        line-height: 1.5 !important;
        tab-size: 2 !important;
    }

    &__editor {
        z-index: 1;
        color: transparent;
        background: transparent;
        caret-color: white; /* Or choose your favourite color */
        color: white;
        resize: none !important;
        
        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    &__code {
        display: flex;
        z-index: 0;
    }

    &__code-content {
        padding: 0;
    }
}
