@use 'tools/tools';
@use 'settings/colours';

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.acf-field {
    &.header-input {
        input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
            font-size: 28px;
            font-weight: 500;
        }
    }

    &.block-title {
        background: #1e1e1e;
        color: #fff;
        font-weight: 700;

        .acf-label {
            display: none;
        }
    
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
    }
}

.block-list-appender {
    margin-top: 28px;
    margin-bottom: 28px;
    
    > .block-editor-inserter {
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: flex-end;
    }
}

.wp-editor {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;

    .body-large {
        font-size: 22px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: inherit;
        font-weight: inherit;
    }

    .heading-1, .heading-2, .heading-3 {
        font-weight: 700;
        line-height: 1.2;
    }

    .heading-1 {
        font-size: 44px;
    }
    
    .heading-2 {
        font-size: 48px;
    }
    
    .heading-3 {
        font-size: 32px;
    }

    table {
        width: auto !important;
        min-width: 50%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    td {
        padding: 8px;
    }
}

[class^="icon-"], [class*=" icon-"], [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
