.mce-container {
    .icon-selector {
        display: flex;
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;

        > div {
            width: 50%;
            min-height: 100%;
            padding-top: 15px;

            &:first-child {
                ul {
                    border-right: 1px solid #DCDCDE;
                }
            }
        }

        h2 {
            padding: 6px 15px;
            border-bottom: 1px solid #DCDCDE;
            font-weight: bold;
        }

        &__list {
            max-height: 323px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 12px;
            margin: 0;
            padding: 15px;
            overflow: auto;

            li {
                width: 25%;
                cursor: pointer;
                text-align: center;
            }
        }

        &__icon {
            font-size: 2em;
        }
    }
}
