@use '../tools/tools';
@use '../settings/colours';

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;

    &:focus {
        clip: auto !important;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
        clip-path: none;
        color: #2b2d2f;
        display: block;
        font-size: .875rem;
        font-weight: 700;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
    }
}

.no-scroll {
    overflow: hidden;
}

.container {
    max-width: tools.rem(1440);
    margin-left: auto;
    margin-right: auto;

    &--minus-container-padding {
        max-width: tools.rem(1340);
    }

    &--container-padding {
        padding-left: tools.rem(16);
        padding-right: tools.rem(16);

        @media all and (min-width: tools.em(375)) {
            padding-left: tools.rem(20);
            padding-right: tools.rem(20);
        }

        @media all and (min-width: tools.em(768)) {
            padding-left: tools.rem(32);
            padding-right: tools.rem(32);
        }

        @media all and (min-width: tools.em(1024)) {
            padding-left: tools.rem(64);
            padding-right: tools.rem(64);
        }

        @media all and (min-width: tools.em(1200)) {
            padding-left: tools.rem(120);
            padding-right: tools.rem(120);
        }
    }
}

.container-padding {
    &--left {
        padding-left: tools.rem(16);

        @media all and (min-width: tools.em(375)) {
            padding-left: tools.rem(20);
        }

        @media all and (min-width: tools.em(768)) {
            padding-left: tools.rem(32);
        }

        @media all and (min-width: tools.em(1024)) {
            padding-left: tools.rem(64);
        }

        @media all and (min-width: tools.em(1200)) {
            padding-left: tools.rem(120);
        }
    }

    &--right {
        padding-right: tools.rem(16);

        @media all and (min-width: tools.em(375)) {
            padding-right: tools.rem(20);
        }

        @media all and (min-width: tools.em(768)) {
            padding-right: tools.rem(32);
        }

        @media all and (min-width: tools.em(1024)) {
            padding-right: tools.rem(64);
        }

        @media all and (min-width: tools.em(1200)) {
            padding-right: tools.rem(120);
        }
    }
}

.on-screen {
    &.is-on-screen {
        .fade-slide-in {
            transform: translateY(0);
            opacity: 1;
            transition: transform 0.5s, opacity 1s;

            @media (prefers-reduced-motion) {
                transition: none;
            }
        }

        .fade-in {
            opacity: 1;
            transition: opacity 1s;

            @media (prefers-reduced-motion) {
                transition: none;
            }
        }

        .slide-in-right {
            transform: translateX(0);
            transition: transform 0.5s;
        }
    }

    .fade-slide-in {
        transform: translateY(1rem);
        opacity: 0;
        transition: transform 0s 0.5s, opacity 0.5s;

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }

    .fade-in {
        opacity: 0;
        transition: opacity 0.5s;

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }

    .slide-in-right {
        transform: translateX(1rem);
        transition: transform 0s 0.5s;

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }
}

.toggle-wrap {
    margin: 1.5em -0.5em;
    display: flex;

    > div {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.toggle {
    display: block;
    position: relative;
    border-radius: tools.rem(15);
    overflow: hidden;
    font-size: 0;
    cursor: pointer;

    input {
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;

        &:checked {
            + div {
                background-color: green;
                border-color: green;

                &:before {
                    transform: translateX(tools.rem(30)) rotate(-45deg);
                    opacity: 1;
                }

                &:after {
                    transform: translateX(tools.rem(30));
                    background-color: #fff;
                }

                + div {
                    &:before {
                        opacity: 1;
                        transform: translate(0,-50%);
                    }
                
                    &:after {
                        opacity: 0;
                        transform: translate(100%,-50%);
                    }
                }
            }
        }

        &:disabled {
            + div {
                background-color: lightgray;
                border-color: lightgray;
    
                &:after {
                    background-color: #fff;
                }
            }
        }

        + div {
            width: tools.rem(58);
            height: tools.rem(28);
            background-color: #fff;
            border: tools.rem(2) solid lightgray;
            border-radius: tools.rem(15);
            transition: background-color 0.3s, border-color 0.3s;
    
            &:before {
                content: '';
                width: tools.rem(10);
                height: tools.rem(5);
                position: absolute;
                top: tools.rem(10);
                left: tools.rem(9);
                z-index: 2;
                transform: translateX(0) rotate(-45deg);
                border-bottom: tools.rem(2) solid green;
                border-left: tools.rem(2) solid green;
                opacity: 0;
                transition: transform 0.3s, opacity 0.3s;
            }
    
            &:after {
                content: '';
                width: tools.rem(20);
                height: tools.rem(20);
                border-radius: 50%;
                background-color: lightgray;
                position: absolute;
                top: tools.rem(4);
                left: tools.rem(4);
                z-index: 1;
                transition: transform 0.3s, background-color 0.3s;
            }

            + div {
                position: absolute;
                top: tools.rem(2);
                bottom: tools.rem(2);
                left: tools.rem(2);
                right: tools.rem(2);
                appearance: none;
                overflow: hidden;
        
                &:before, &:after {
                    width: calc(100% - #{tools.rem(22)});
                    position: absolute;
                    top: 50%;
                    z-index: 1;
                    padding: tools.rem(6);
                    font-size: tools.rem(10);
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 0.6;
                    text-align: center;
                    transition: opacity 0.3s, transform 0.3s;
                }
            
                &:before {
                    content: 'On';
                    left: 0;
                    opacity: 0;
                    transform: translate(-100%,-50%);
                    color: #fff;
                }
            
                &:after {
                    content: 'Off';
                    right: 0;
                    opacity: 1;
                    transform: translate(0,-50%);
                }
            }
        }
    }
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: tools.rem(-6);
    margin-right: tools.rem(-6);
    row-gap: tools.rem(24);

    @media all and (min-width: tools.em(600)) {
        margin-left: tools.rem(-12);
        margin-right: tools.rem(-12);
    }

    &--align-center {
        align-items: center;
    }

    &--align-end {
        align-items: flex-end;
    }

    &--justify-space-between {
        justify-content: space-between;
    }

    &--justify-center {
        justify-content: center;
    }

    &--no-wrap {
        flex-wrap: nowrap;
    }
}

.column {
    padding-left: tools.rem(6);
    padding-right: tools.rem(6);

    @media all and (min-width: tools.em(600)) {
        padding-left: tools.rem(12);
        padding-right: tools.rem(12);
    }
}

.scroll-x {
    overflow-x: auto;

    &__inner {
        display: inline-flex;
    }
}

.block {
    &__inner {
        position: relative;
        z-index: 1;
        padding-top: tools.rem(40);
        padding-bottom: tools.rem(40);

        @media all and (min-width: tools.em(768)) {
            padding-top: tools.rem(90);
            padding-bottom: tools.rem(90);
        }

        @media all and (min-width: tools.em(1024)) {
            padding-top: tools.rem(120);
            padding-bottom: tools.rem(120);
        }
    }

    + .block {
        &--overlap {
            .block__inner {
                padding-top: 0;
                
                &:before {
                    content: '';
                    height: tools.rem(40);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;

                    @media all and (min-width: tools.em(768)) {
                        height: tools.rem(90);
                    }

                    @media all and (min-width: tools.em(1024)) {
                        height: tools.rem(120);
                    }
                }
            }
        }
    }

    &--background-color-white {
        background-color: #FFF;
        fill: colours.$black;
        color: colours.$black;

        + .block--overlap {
            .block__inner:before {
                background-color: #FFF;
            }
        }
    }
}
