@use '../tools/tools';
@use '../settings/colours';

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 200vh;
    box-sizing: border-box;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    font-weight: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

table {
    width: auto !important;
    min-width: 50%;
    margin-top: tools.rem(40);
    margin-bottom: tools.rem(40);
}

td {
    padding: tools.rem(8);
}

code {
    padding: 0.25em;
    overflow: auto;
    font-family: 'IBMPlexMono', monospace;
    font-weight: 500;
}
