@use 'sass:math';

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
    @return #{math.div($pixels, $context)}em;
}

@function rem($pixels, $context: $browser-context) {
    @return #{math.div($pixels, $context)}rem;
}

@function containerWidth($multiplier: 12, $divider: 12) {
    @return rem(math.div(1040, $divider) * $multiplier);
}
