$colours: ('white', 'green', 'green-light');

@mixin block-overlap($class, $margins, $previous-class: '') {
    @each $breakpoint, $margin in $margins {
        @if $breakpoint == 0 {
            @each $colour in $colours {
                .#{$previous-class}block--background-color-#{$colour}:not(.block--skip) + .#{$class}.block--background-color-#{$colour},
                .block--background-color-#{$colour}:not(.block--skip) + .block--skip + .#{$class}.block--background-color-#{$colour} {
                    margin-top: $margin;
                }
            }
        } @else {
            @media all and (min-width: #{$breakpoint}) {
                @each $colour in $colours {
                    .block--background-color-#{$colour}:not(.block--skip) + .#{$class}.block--background-color-#{$colour},
                    .block--background-color-#{$colour}:not(.block--skip) + .block--skip + .#{$class}.block--background-color-#{$colour} {
                        margin-top: $margin;
                    }
                }
            }
        }
    }
}

@mixin disable-block-overlap($class, $min-width, $max-width) {
    @media all and (min-width: #{$min-width}) and (max-width: #{$max-width}) {
        @each $colour in $colours {
            .#{$class}.block--background-color-#{$colour}:not(.block--skip) + .block--background-color-#{$colour},
            .#{$class}.block--background-color-#{$colour}:not(.block--skip) + .block--skip + .block--background-color-#{$colour} {
                margin-top: 0 !important;
            }
        }
    }
}
